.fortune-cookie__artc {
    background-color: #eccda0;

    padding: 2rem;
    text-align: center;

    width: 50%;
    margin: 0 auto;
}

.fortune-cookie__img {
    height: 300px;
    width: 300px;
}

.fortune-cookie__text {
    color: #dd7b22;
    font-size: 1.5rem;
}