.post__arct {
    background-color: #e0e0e0;

    border: 8px solid #eee;
    border-radius: 20px;

    box-shadow: #3333 5px 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 600px;
    padding: 2rem 0;
}

img {
    border-radius: 4px;
    object-fit: cover;

    height: 400px;
    max-width: 300px;

    margin: 0 auto;
    margin-left: 1rem;
}

.post__title-bar {
    background-color: #eee;
    border-bottom: 2px #4444 solid;

    height: 6rem;
    width: 100%;
    padding: 1rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: 700;
}

h4 {
    font-weight: 100;
    font-size: .8rem;
    text-align: end;
}

h3 {
    font-weight: 300;
    font-size: 1rem;

    height: 14rem;

    padding: .5rem 2rem;
}

.post__btn:hover {
    background-color: #bbb;
}

.post__btn,
.post__btn:active {
    background-color: #eee;
    border: 1px #eee solid;
    border-radius: 8px;
    
    width: 90%;

    margin: .5rem 1rem;
    padding: .5rem 2rem;
}