.watch-later__title {
    display: block;
    text-transform: uppercase;
    font-size: 2rem;

    width: 100%;

    padding: 2rem 0;
}

.movie__sect {
    position: relative;
}

.obj__btn {
    background-color: transparent;
    border: 1px solid #e9e9e9;
    border-radius: 50%;
    color: #e9e9e9;
    font-weight: 700;
    
    z-index: 2;

    padding: 1rem 1.25rem;
}

.obj__btn:hover {
    background-color: #e9e9e9;
    color: #121212;
}

.favorite__btn {
    position: absolute;
    top: 5%;
    right: 25%;
}

.delete__btn {
    position: absolute;
    top: 5%;
    right: 5%;
}