body {
    background-color: black;
}

main {
    position: relative;

    min-height: calc(100vh - 4rem);
    width: 80%;

    margin: 0 10%;
}

.backdrop__img {
    position: absolute;
    top: 0;
    left: 0;

    object-fit: contain;
    pointer-events: none;
    z-index: -1;

    max-width: 100%;
}

.movie__artc {
    min-height: calc(100vh - 6rem);
    
    z-index: 5;
}

.movie__title {
    color: #e9e9e9;
    text-align: center;
    text-shadow: 2px 2px 4px #121212;
    text-transform: uppercase;

    padding-top: 22rem;
}

.general-info__sect {
    background-color: #e9e9e924;
    color: #e9e9e9;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: flex-start;
}

.poster__img {
    width: 30%;
    min-width: 300px;
    padding: 1rem;
}

.general-txt__sect {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;

    width: 60%;

    padding: 2rem;
}

.overview__txt {
    min-height: 2rem;

    padding: 1rem 0;
}

.field__txt {
    font-size: 0.75rem;
    font-weight: 300;
}

.info__txt {
    font-size: 1.25rem;
    margin-left: .25rem;
}

.info__txt a,
.info__txt a:visited {
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    color: #e9e9e9;

    font-size: .8rem;
    text-decoration: none;

    padding: .5rem 1rem;
}

.info__txt a:hover {
    background-color: #e9e9e9;
    color: #121212;
}