.footer {
    border-top: 1px #e9e9e930 solid;
    color: #e9e9e9;
    font-size: .5rem;

    flex-direction: row;
    margin: 0 auto;
    margin-top: 2rem;

    padding: 1rem 4rem;
}

.footer .footer__title {
    font-size: 1rem;
}

.copyright__sect {
    display: inline;
}

.footer,
.footer .ref__sect {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.ref__sect {
    flex-direction: column;
}

footer a {
    color: #e9e9e9;
    text-decoration: none;
    margin: .5rem;
}