.header {
  background-color: black;
  color: white;
  vertical-align: middle;

  padding: 0.5rem 2rem;
}

.header__title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  text-transform: uppercase;

  margin: 0;
  padding: .5rem 2rem;
}

.header,
.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

a,
a:visited {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}