.timer__artc {
    background-color: #00aeef;

    color: black;
    font-family: monospace;

    position: relative;

    width: 525px;

    margin: auto;
    padding: 2rem 4rem;
}

.timer__img {
    position: relative;
}

.timer__btn {
    background-color: white;
    border: 1px white solid;
    border-radius: 10px;

    cursor: pointer;

    font-size: 2rem;

    position: absolute;

    margin: 1rem;
    padding: 1.5rem 2.2rem;
}

.timer__txt {
    background-color: #fff8;
    border-radius: 50%;

    font-size: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 12%;
    left: 15%;

    height: 28rem;
    width: 28rem;
}

.start-stop__btn {
    top: 2%;
    left: 39.75%;
}

.reset__btn {
    top: 12.5%;
    left: 71%;
    transform: rotate(45deg);
}

.instructions__txt {
    font-size: 1.75rem;

    text-align: center;
}