.movie {
    position: relative;

    background-size: contain;
    border-radius: 4px;
    color: white;
    text-shadow: 2px 2px 4px black;

    overflow: hidden;

    width: 300px;
    min-height: 450px;
}

.movie__img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    background: center / cover no-repeat;
    filter: grayscale(50%);

    width: 300px;
    height: 450px;
}

.movie-text__sect{
    opacity: 0;
    position: relative;
    text-align: center;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    height: 450px;

    transition: all 200ms;
}

.movie-text__sect:hover {
    background-color: #12121270;
    opacity: 1;
    justify-content: center;
}

.movie__title {
    font-size: 1.2rem;
    word-break: break-word;

    padding-bottom: .25rem;
}

.original__title {
    color: #e9e9e9;
    font-size: 0.8rem;
    font-weight: 300;

    padding-bottom: 1rem;
}

.link__movie {
    text-decoration: none;
}

.original__title:before {
    content: " ( ";
}

.original__title:after {
    content: " ) ";
}

.details__txt {
    color: #e9e9e9;
    font-size: .5rem;
    font-weight: 300;
    justify-self: flex-end;
}

.cta__sect {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;
}

.cta__btn {
    background-color: #121212;
    border: 1px solid #121212;
    border-radius: 2px;
    color: #e9e9e9;
    font-size: 1.2rem;
    font-weight: 500;

    min-width: calc(50%);
    
    padding: 1rem 2rem;
}

.cta__btn:hover {
    background-color: #e9e9e9;
    color: #121212;
}

.save__btn {
    border-bottom-left-radius: 8px;
}

.watch-later__btn {
    border-bottom-right-radius: 8px;
}